<main>
  <div>
    <h1>CStock é o sistema para gerenciamento de produtos certo para você.</h1>
    <p>Entre em contato com um representante de nossa equipe para adquirir uma licença.</p>
  </div>

  <div class="form">
    <div class="login">
      <h1>Login</h1>
    </div>
    <form (click)="login(); $event.preventDefault()">
    <input pInputText type="email" placeholder="E-mail"
           [(ngModel)]="username" name="username" [disabled]="loading">
    <input pInputText type="password" placeholder="Senha"
           [(ngModel)]="password" name="password" [disabled]="loading">
    <button pButton
            severity="info"
            type="submit"
            [disabled]="loading"
            [label]="loading ? 'Carregando...' : 'Entrar'">
    </button>
</form>

  </div>
</main>

<footer>
  <p id="footer">&copy; 2025 CStock. Todos os direitos reservados.</p>
</footer>
