<main>
  <div>
    <h1>CStock é o sistema para gerenciamento de produtos certo para você.</h1>
    <p>Entre em contato com um representante de nossa equipe para adquirir uma licença.</p>
  </div>

  <div class="form">
    <div class="login">
      <h1>Login</h1>
    </div>
    <div>
      <input pInputText placeholder="E-mail">
      <input pInputText placeholder="Senha">
      <button pButton severity="info" (click)="login()">Entrar</button>
    </div>
  </div>
</main>

<footer>
  <p id="footer">&copy; 2025 CStock. Todos os direitos reservados.</p>
</footer>
