<main>
  <div>
    <h1>CStock é um sistema para gerenciamento de produtos completo. Registre produtos, faça movimentações,
      acompanhe tudo através de gráficos.
    </h1>
    <p>Entre em contato com um representante de nossa equipe para adquirir uma licença e começar a usar.</p>
  </div>

  <div class="form">
    <div class="login">
      <h1>Login</h1>
    </div>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <input pInputText type="email" placeholder="E-mail" (input)="onFieldInput()"
             [(ngModel)]="username" name="username" [disabled]="loading" required>
      <input pInputText type="password" placeholder="Senha" (input)="onFieldInput()"
             [(ngModel)]="password" name="password" [disabled]="loading" required>
      <button pButton
              severity="info"
              type="submit"
              [disabled]="loading"
              [label]="loading ? 'Carregando...' : 'Entrar'">
      </button>
    </form>
  </div>
</main>

<footer>
  <p id="footer">&copy; 2025 CStock. Todos os direitos reservados.</p>
</footer>
