<nav class="navbar">
  <div class="nav-logo">
    <a href="/products"><img src="assets/logo.png"></a>
  </div>

  <div class="a">
    <a class="navbar-toggle" routerLink="/charts/entry">Registros de entrada</a>
    <a class="navbar-toggle" routerLink="/charts/exit">Registros de saída</a>
</div>

  <div class="nav-controls">
    <a href="javascript:;" class="navbar-toggle" (click)="displayingMenu = !displayingMenu">
      {{ auth.userDisplayName }}
    </a>
  </div>

  <ul class="navbar-menu" [hidden]="!displayingMenu">

    <li class="navbar-menuitem">
      <a href="javascript:;" (click)="auth.logout()">Logout</a>
    </li>
  </ul>
</nav>
