.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 50px;
  position: relative;
}
.a{
  display: flex;
}
.nav-logo img {
  height: 140px;
  width: auto;
  display: block;
  padding: 0;
}

.nav-controls {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-toggle {
  color: black !important;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
}

.navbar-menu {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 1rem;
  list-style: none;
  margin: 0;
}

.navbar-menuitem {
  padding: 0.5rem 0;
}

.navbar-menuitem a {
  display: block;
}




